/* Step 1 - Add a nice background */
body {
  background-image: url("./7243-01-low-poly-background-16x9-1.jpg");
  background-size: cover;
}

/* Step 2 - Add a nice card style */
.card {
  margin: 1rem;
  width: 64px;
  height: 64px;
  background-color: rgba(20, 222, 236, 0.5);
  /*background-image: url("./image.png");*/
}

/* Step 3 - Add a nice hover effect */
.card:hover {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.9);
}

/* Step 4 (+4 points) - Write a style for a flipped card */
.flipped {
  background-image: url("./index.png");
}

/* Step 5 - Add a nice style to the message element */
#message {
  font-family: "Oswald", sans-serif;
}

/* Step 6 - Add 5 more style changes... */
/* 1) */
#cards {
  display: flex;
  flex-wrap: wrap;
}
/* 2) */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}
/* 3) */
#score {
  color: steelblue;
}
/* 4) */
button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00bcd4;
  background: #ececec;
  border-radius: 0 15px 15px 0;
  transition: 0.4s;
}

button:hover {
  background: #636363;
}
/* 5) */
#gameboard {
  background-color: rgba(255, 255, 255, 0.5);
}
